body{
    background-color: rgb(235, 231, 231);
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:aquamarine;
    font-family:cursive;
    color:blueviolet;
    padding: 0%;
    margin: 10px 50px 10px 50px;
}

img{
    width: 50px;
    padding: 0 20px 0 0;
}

main{
    align-items: center;
    justify-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
    color: blueviolet;
    margin: 10px 50px 10px 50px;
    padding: auto;      
}

div{
   background-color: black;
   color: aliceblue;
   margin: 20px 20px 20px 20px;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue; 
}

ul{
   color: aliceblue;
}

ul li{
    display: inline;
    padding-left: 100px;
}


